.tag {
    background-color: hsl(var(--accent)) !important;
    color: hsl(var(--accent-foreground)) !important;
    margin-right: 0 !important;
    width: fit-content;
    margin-bottom: 8px !important;
}