.staggerVisualizer {
    display: grid;
    grid-template-columns: repeat(17, 1rem);
    grid-template-rows: repeat(17, 1rem);
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 17rem;
    scale: 0.7;
  }
  