.icon {
    color: red;
    background-color: red;
    background-color: red;
    fill: red;

    svg {
        color: red;
        background-color: red;
        background-color: red;
        fill: red;
    }
}